@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  /* font-weight: 500;
  font-stretch: normal;
  font-style: normal; */
  line-height: 1.36;
  letter-spacing: -0.32px;
  min-height: calc(100vh - 64px);
  @apply bg-blue-25;
  @apply text-gray-900;
}

a {
  display: block;
}

.Head1Bold {
  font-family: "Pretendard";
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.8px;
}
.Head2Semibold {
  font-family: "Pretendard";
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.64px;
}
.Head3Semibold {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.48px;
}
.Head3Medium {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.48px;
}
.Head3Regular {
  font-family: "Pretendard";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.48px;
}
.Head4Semibold {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: -0.4px;
}
.Head4Medium {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}
.Head4Regular {
  font-family: "Pretendard";
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}
.SubHead1Semibold {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: -0.32px;
}
.SubHead1Medium {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.32px;
}

.SubHead2Semibold {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.28px;
}
.SubHead2Medium {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.28px;
}
.BodyBody2 {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.36;
  letter-spacing: -0.28px;
}
.Caption1Semibold {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
}
.Caption1Medium {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.24px;
}
.BodyBody3 {
  font-family: "Pretendard";
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.24px;
}
.Caption2Semibold {
  font-family: "Pretendard";
  font-size: 10px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}
.Caption2Medium {
  font-family: "Pretendard";
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
}
